.entry__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 20px auto 100px;
  max-width: 500px;
  max-height: 700px;
  gap: 5px;
}

.entry__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  max-height: 700px;
  margin: 100px auto 0;
}

.entry__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.entry__button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.entry__grid-item {
  border: 1px solid #c70039;
  padding: 10px;
  border-radius: 3px;
  background-color: #c70039;
  color: #fff;
}

.entry__title {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
}

.entry__title-name {
  padding: 0;
  margin: 0;
}

.entry__title-number {
  padding: 0;
  margin: 0;
}

.entry__sprites {
  grid-column: 1 / span 6;
  grid-row: 2 / span 2;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.entry__sprite {
  margin: auto;
  height: 150px;
  width: 150px;
}

.entry__types {
  grid-column: 1 / span 6;
  grid-row: 4 / span 1;
  display: flex;
  justify-content: center;
}

.entry__type-img {
  width: 60px;
  /* height: 25px; */
  margin: auto;
}

.entry__hw {
  grid-column: 1 / span 6;
  grid-row: 6 / span 1;
}

.entry__abilities {
  grid-column: 1 / span 6;
  grid-row: 5 / span 1;
}

.entry__abilities_title {
  margin: 0;
  padding: 0;
}

.entry__stats {
  grid-column: 7 / span 2;
  grid-row: 1 / span 6;
  background-color: #c70039;
  color: #fff;
}

.entry__stats-label {
  margin: 0;
}

.entry__stats-list {
  padding: 0;
  list-style: none;
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.entry__stat {
  font-size: 18px;
  text-wrap: wrap;
}

@media screen and (max-width: 550px) {
  .entry {
    max-width: 400px;
    max-height: 560px;
  }

  .entry__sprite {
    margin: auto;
    max-height: 100px;
    max-width: 100px;
  }

  .entry__type-img {
    width: 40px;
    /* height: 20px; */
    margin: auto;
  }

  .entry__stat {
    font-size: 16px;
  }
}

@media screen and (max-width: 410px) {
  .entry {
    margin: 50px auto;
    max-width: 310px;
    max-height: 560px;
  }

  .entry__stats-label {
    font-size: 16px;
  }

  .entry__stat {
    font-size: 14px;
  }
}
