.not-found {
  margin: 100px auto 400px;
  width: 500px;
}

.not-found__divider {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.not-found__title {
  padding: 0;
  margin: 0 10px;
  font-size: 32px;
  color: #c70039;
}

.not-found__text {
  text-align: center;
}

/* 
<div className="not-found">
<div className="not-found__divider">
  <h1 className="not-found__title">404</h1>
  <p className="not-found__text">
    We couldn't find the page you were looking for.
  </p>
</div>

<p className="not-found__text">
  Try entering a Pokemon name or PokeDex number
</p>
</div> */
