.main {
  text-align: center;
  margin: 100px 0 400px;
}

.main__heading {
  margin-bottom: 40px;
}

.main__text {
  margin-bottom: 60px;
}

.main__search-bar {
  width: 400px;
  height: 50px;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.main__btn {
  background-color: #c70039;
  width: 40px;
  height: 54px;
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
