.footer {
  border-top: 1px solid #c70039;
  color: #c70039;
  display: flex;
  padding: 50px 10px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik Regular";
}

.footer__author {
  margin: 0;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__link {
  font-family: "Rubik Bold";
  text-decoration: none;
  color: #c70039;
}

.footer__link:hover {
  color: rgba(99, 0, 57, 0.5);
}

.footer__link-icon {
  height: 30px;
  width: 30px;
  margin: auto 10px;
  vertical-align: middle;
}
