.nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 0;
}

.nav__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #c70039;
  cursor: pointer;
  font-size: 18px;
  /* font-weight: 700; */
  background-color: #fff;
  border: none;
  font-family: "Rubik Bold";
}

.nav__link:hover {
  color: rgba(99, 0, 57, 0.5);
}

@media screen and (max-width: 650px) {
}
